<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&display=swap" rel="stylesheet" />
    <title>
      ORA ADVICES - Réinitialisation de mot de passe
    </title>
    <style>
      body {
        font-family: 'Quicksand', sans-serif;
        background-color: #f4f4f9;
        color: #333;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      
      .container {
        max-width: 400px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 8px !important;
        border-radius: 30px !important;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-image: linear-gradient(white, white), linear-gradient(to right, #ff7f00, #61d27e);
        background-origin: border-box;
        background-clip: content-box, border-box;
        position: relative;
      }
      
      .logo-container {
        text-align: center;
        margin-bottom: 30px;
        position: relative;
      }
      
      .sub-container {
        padding: 30px !important;
      }
      
      .main-title {
        font-family: 'Barriecito', cursive;
        margin: 0;
        display: inline-block;
        position: relative;
      }
      
      .main-title span {
        font-size: 150px;
        color: #ff7f00;
        position: absolute;
        top: 0;
        line-height: 0.5;
        /* Réduisez cette valeur si nécessaire */
      }
      
      .sub-title {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        color: #61d27e;
        font-weight: bold;
        text-align: right !important;
      }
      
      h2 {
        color: #ff7f00;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      p {
        color: #333;
        margin-bottom: 15px;
        line-height: 1.6;
      }
      
      a {
        color: #218c74;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      .signature {
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        font-style: italic;
        color: #888;
      }
      
      .button {
        background-color: #ff7f00;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
      }
      
      .button a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="sub-container">
        <div class="logo-container">
          <div class="main-title">

            <span>
              Ora
      </span>
            <div class="sub-title">

              Advices
            </div>
          </div>
        </div>

        <h2>
          Réinitialisation de mot de passe
        </h2>

        <p>
          Bonjour,
        </p>
        <p>
          Nous avons reçu une demande de réinitialisation de votre mot de passe. Veuillez cliquer sur le bouton ci-dessous pour définir un nouveau mot de passe.
        </p>

        <p class="button">
          <a href="{{ link }}">{{ texto }}</a>
        </p>

        <p>
          Si vous n'avez pas demandé de réinitialisation, veuillez ignorer cet e-mail.
        </p>

        <p class="signature">
          Cordialement,<br />L'équipe ORA ADVICES
        </p>
      </div>

    </div>
  </body>
</html>
